@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://webfontworld.github.io/Cafe24Oneprettynight/Cafe24Oneprettynight.css');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;display: inline-block;color: #000;}
img{border: 0;}
body{font-family: "Inter";background: url(../img/illust/sub_bg.png);text-align: center;}

/*scroll bar*/
body::-webkit-scrollbar {width: 5px;  /* 스크롤바의 너비 */}
body::-webkit-scrollbar-thumb {height: 30%; /* 스크롤바의 길이 */background: #677424; /* 스크롤바의 색상 */border-radius: 10px;}
body::-webkit-scrollbar-track {background: rgba(235, 240, 222);  /*스크롤바 뒷 배경 색상*/}

header{width: 100%;height: 100px;border-bottom: 0.5px solid #d1d1d1;text-align: center;background: #fff;}
header>.sub_menu_wrap{width: 1200px;height: 100%;line-height: 100px; display: inline-block;}
header>.sub_menu_wrap>.menu_bar>li{float: left;position: relative;}
header>.sub_menu_wrap>.menu_bar>li>a{width: 240px;height: 100px;color: #000;font-size: 20px;}
header>.sub_menu_wrap>.menu_bar>li>a:hover{font-weight: 400;color: #677424;}
header>.sub_menu_wrap>.menu_bar>.on>a{font-weight: 400;color: #677424;}

header>.sub_menu_wrap>.menu_bar>li>.sub_menu{position: absolute; width: 240px;border-radius: 30px;box-shadow: 10px 10px 8px #eee;transition-duration: 0.3s;background: #fff;display: none;}
header>.sub_menu_wrap>.menu_bar>li>.sub_menu>li{height: 60px;line-height: 60px;}
header>.sub_menu_wrap>.menu_bar>li>.sub_menu>li>a{line-height: 0;padding: 15px 0;}
header>.sub_menu_wrap>.menu_bar>li>.sub_menu>li>a:hover{border-bottom: 1px solid #000;}
header>.sub_menu_wrap>.menu_bar>li:nth-child(5)>a:hover ~ .sub_menu{display: block;}
header>.sub_menu_wrap>.menu_bar>li>.sub_menu:hover{display: block;}


section>.contents{width: 1200px;height: 100%; display: inline-block;}
section>.contents>.sub_title{font-family: 'Birthstone', cursive;font-size: 80px;font-weight: 400;margin-top: 50px;}
section>.contents>.location{margin: 20px 0 100px 0;}
section>.contents>.location>div{display: inline-block;font-size: 15px;}
section>.contents>.location>.location_home>a{color: #a8a8a8;}
section>.contents>.location>.location_arrow{width: 10px; height: 10px;background: url(../img/illust/location_arrow.png) no-repeat;background-size: contain;background-position: center;}

section>.contents>.profile_content{width: 100%;height: 780px;position: relative;}
section>.contents>.profile_content>.profile_img{width: 600px;height: 780px;background:url(../img/photo/sub_profile_img.png) no-repeat;background-size: cover;float: left;}
section>.contents>.profile_content>p{width: 600px;font-family: "Cafe24Oneprettynight";float: left;text-align: justify;font-size: 30px;line-height: 1.5;}
section>.contents>.profile_content>p:nth-child(2){padding-left: 50px;box-sizing: border-box;}
section>.contents>.profile_content>p>.profile_que{font-size: 50px;color: #677424;font-family: "Cafe24Oneprettynight";}

.txt_green{color:#677424;}
.cursive{font-family: 'Birthstone', cursive;font-size: 50px;}

section>.contents>.profile_content:nth-child(3)>p>.cursive{position: absolute;bottom: 0;right: 0;opacity: 0.5;}
section>.contents>.profile_content:nth-child(4){height: 100%;}
section>.contents>.profile_content:nth-child(4)>p{width: 100%;margin: 50px 0;}





footer{ width: 100%;height: 100px;background: #000;text-align: c
;color: #a8a8a8;line-height: 100px;}